/* General styles*/

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p {
    font-style: normal;
    font-weight: 400;
    font-family: "Montserrat", cursive;
}

h2 {
    color: #393939;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

button {
    width: 100%;
    padding: 8px 16px
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 68%
}

.largescreenlogo {
    width: auto;
    align-items: center;
}

/* Style the header */
.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'left left middle middle right right' 'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
    padding: 10px;
}

/* Style the left column */
.left {
    float: left !important
}

/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
}

.padding {
    padding: 8px 16px !important
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Style background */
.background-light-grey {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

/* Style colours */

.white {
    color: #000 !important;
    background-color: #fff !important
}

.text-white {
    color: #ffffff !important
}

.grey {
    color: #000 !important;
    background-color: #001837 !important
}

.text-white {
    color: #757575 !important
}

.white-grey {
    color: #fff !important;
    background-color: #f5f5f5 !important;
}

.white-grey:hover {
    color: #fff !important;
    background-color: #f5f5f5 !important;
}

.light-grey {
    color: #000 !important;
    background-color: #f5f5f5 !important
}

.light-grey:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.text-light-grey:hover {
    color: #000000 !important;
}

.black {
    color: #fff !important;
    background-color: #000 !important
}

.hover-black:hover {
    color: #fff !important;
    background-color: #000 !important
}

.opacity:hover {
    opacity: 0.60;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.darkbackground {
    background-color: #757575 !important;
    opacity: 0.8;
}

/* Style composition */
.collapse {
    display: none
}

.top {
    top: 0
}

.center {
    text-align: center
}

.center-sidebar {
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.container {
    display: inline-block;
    padding: 0.01em 16px;
}

.section {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.padding-small {
    padding: 4px 8px !important
}

.padding-large {
    padding: 12px 24px !important
}

.row-padding {
    padding: 0 8px;
}

.margin-bottom {
    margin-bottom: 16px !important
}

.margin-right {
    margin-right: 16px !important
}

.third {
    float: left;
    width: 33%;
}

/* Container for flexboxes */
.row {
    display: flex;
    opacity: 0.8;
    cursor: pointer;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 1;
    opacity: 0.8;
    cursor: pointer;
}

.column:hover {
    opacity: 1;
    display: block;
}

.image {
    max-width: 100%;
    height: auto
}

.justify {
    text-align: justify !important
}

.wide {
    letter-spacing: 4px
}

.block {
    display: block;
    width: 100%
}

.bar {
    display: inline-block;
    width: auto
}

.bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-family: "Montserrat";
}

/* Style animations */

.animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

/* Style size */

.large {
    font-size: 18px !important
}

.hide-large {
    display: none !important
}

.xlarge {
    font-size: 24px !important
}

.small {
    font-size: 12px !important
}

/* Style the rest elements */

.sidebar {
    height: 100%;
    width: 20%;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.bar-block {
    width: 100%;
    display: block;
    padding: 100px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-align: center
}

.border {
    border: 1px solid #ccc !important
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.jumbo {
    font-size: 64px !important
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 'header header header header header header' 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
    }

    .center-sidebar {
        display: none;
    }

    .largescreenlogo {
        display: none;
        height: 0px;
    }

    .mobile-logo {
        width: auto;
        align-items: center
    }

    .main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .third {
        width: 100% !important;
        padding: 0 8px
    }

    .row {
        flex-direction: column;
    }
}

@media (min-width: 610px) {
    .center {
        display: block;
        width: auto;
        text-align: center
    }

    .container {
        padding: 0.01em 16px
    }

    .mobile-logo {
        display: none;
        height: 0px
    }
}

/* Top punchline */
.top-punchline-row {
    display: flex;
    float: right;
    width: 70%;
}

.top-punchline-column {
    flex: 1;
    padding: 20px;
    margin-top: 50px;
}

.top-punchline-column-contact {
    padding-left: 10%;
    align-self: end;
    
}

.top-punchline-column-image {
    margin-right: 10%;
    padding-right: 10%;
}

.top-punchline-column-image img{
    max-width: 80%;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    z-index: 2; /* Ensure it's above other elements */
}

.top-punchline-contact-line {
    margin-bottom: 10px;
    text-align: left;
}

.top-punchline-left-align {
    text-align: left;
}

/* Image grid */

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 10px;                               /* 0px gap (no padding) */
}

.image-container {
    position: relative;
    overflow: hidden;
    /*border: 1px solid #ccc; !* Optional: Add a border around each image container *!*/
}

img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover img {
    transform: scale(1.1); /* Zoom in effect */
}

.image-container:hover .image-overlay {
    opacity: 1; /* Reveal hidden details on hover */
}

.dark-yellow {
    color: #000 !important;
    background-color: #C8F023 !important;
}

.dark-blue {
    color: #000 !important;
    background-color: #001837 !important;
}

.contact-info {
    font-size: 16px;
}

.contact-line {
    margin-bottom: 10px;
}

i {
    margin-right: 10px;
}

/* Content pages */

.return-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    z-index: 999; /* Ensure it's above other content if necessary */
}

.highlight-text-yellow {
    color: #a8c91f !important;
}

/* Apply Arlo */

.image_wrap img{
    border-radius: 100%;
    border: 8px solid rgba(255,255,255,.5);
}

.menu_list_wrap{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 0px 20px 0px 60px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    
    
}

.menu_list_wrap ul {
    margin: 0px;
    list-style-type: none;
}

.menu_list_wrap ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 19px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu_list_wrap ul li a:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #C8F023;
    top: 14px;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 10px;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu_list_wrap ul li a:hover{color: #C8F023;}

.menu_list_wrap ul li a:hover:before{width: 35px;}

.arlo_tm_animation_text_word{
    font-weight: 600;
    line-height: 1;
    font-family: "Montserrat";
    color: #C8F023;
}

.top-punchline-column-box{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top-punchline-column-box{
    position: absolute;
    top: 120px !important;
    bottom: 700px !important;
    left: 900px !important;
    right: 300px;
    border: 10px solid #041230;
    z-index: 0;
}

.content .justify h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

.top-punchline-contact-line h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

.two-column-content .container {
    display: flex;
    flex-direction: row;
}

.two-column-content .column {
    flex: 1;
}

.dark-blue h2{
    color: white;
}

.definition p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    font-weight: 400;
}

.main .padding-large .content .justify .text-white h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.5px;
    padding-left: 25px;
    line-height: 1;
}

.main .padding-large .content .justify .text-white p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    word-wrap: break-word;
    font-weight: 400;
}